<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu Root -->
        <menuitem 
            id="menu_cong_viec_root" 
            name="Quản Lý Công Việc" 
            sequence="11"
            web_icon="quan_ly_cong_viec,static/description/icon.png"/>
        
        <!-- Menu Group: Điều hành -->
        <menuitem 
            id="menu_group_dieu_hanh" 
            name="Điều hành" 
            parent="menu_cong_viec_root" 
            sequence="1"/>
        
        <menuitem 
            id="menu_cong_viec_all" 
            name="Tất cả công việc" 
            parent="menu_group_dieu_hanh" 
            action="action_cong_viec" 
            sequence="1"/>
        
        <menuitem 
            id="menu_my_tasks" 
            name="Công việc của tôi" 
            parent="menu_group_dieu_hanh" 
            action="action_my_tasks" 
            sequence="2"/>
        
        <menuitem 
            id="menu_nhat_ky" 
            name="Nhật ký làm việc" 
            parent="menu_group_dieu_hanh" 
            action="action_nhat_ky_cong_viec" 
            sequence="3"/>
        
        <menuitem 
            id="menu_my_worklogs" 
            name="Nhật ký của tôi" 
            parent="menu_group_dieu_hanh" 
            action="action_my_worklogs" 
            sequence="4"/>
        
        <!-- Menu Group: Báo cáo -->
        <menuitem 
            id="menu_group_bao_cao" 
            name="Báo cáo &amp; Phân tích" 
            parent="menu_cong_viec_root" 
            sequence="5"/>
        
        <!-- Menu Group: Cấu hình -->
        <menuitem 
            id="menu_group_cau_hinh" 
            name="Cấu hình" 
            parent="menu_cong_viec_root" 
            sequence="10"/>
        
        <menuitem 
            id="menu_loai_cong_viec" 
            name="Loại công việc" 
            parent="menu_group_cau_hinh" 
            action="action_loai_cong_viec" 
            sequence="1"/>
    </data>
</odoo>